@import url('http://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

body {
    margin: 0px;
    background-color: #ffffff;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    color: rgb(51,51,51);

}

* .section_inner {
    width: 120vmin; /* ширина контентых блоков */
}

* .btn1, * .surround {
    transition: 0.3s all; /* задержка анимации для всех кнопок */
}

/* палитра цветов
green = #005f26;
orange = #FF6600;
*/

/* { border: 1px solid silver } /* рамки для отладки */


/* -------------------------------------------- header -----------------------------------------------------*/

header {
    width: 120vmin;
    display: flex;
    width: 100%;
    justify-content: center;
}

header .section_inner {
    display: flex;
    justify-content: space-between;
    align-items:center;

}

header .logo_img {
 	text-align: right;
	flex: 1;
}

header .logo_img img {
   width: 80%;
}

header .text1 {
	text-align: center;
	line-height: 200%;
	flex: 2;
}

header .phone-and-address {
    text-align: right;
	flex: 1;
}

header .phone1 {

}

header  a.phone1 {
    font-size: 24px;
	color: rgb(51,51,51);
	background-color: transparent;
	text-decoration: none;
}

header .address1 {
    line-height: 150%;
}


/* -------------------------------------------- title_block -----------------------------------------------------*/

.title_block {
    display: flex;
    background-image:url("/static/img/viewer.jpg");
    background-attachment: fixed;
    background-position: 50% center;
    background-size:cover;
    width: 100%;
    height: 600px;
    justify-content: center;

}

.title_block .dark{
    position:absolute;
    width:100%;
    height: inherit;
    background-color:#000000;
    opacity: 0.5;
}

.title_block .section_inner{
    position: absolute;
    margin: 0px, 50px;
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.title_block .title{
    text-align: center;
	font-size: 64px;
	color: #fff;
	width: 100%;
}



.title_block .sub_title{
    text-align: center;
	font-size: 24px;
	color: #fff;
    width: 100%;
    line-height: 300%;
}

.title_block .arr1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title_block .btn1{
    border: 3px solid;
    border-radius: 2em;
    border-color: rgb(0,221,50);
	font-size: 28px;
	line-height: 300%;
	text-align: center;
	max-width: 500px;
	width: 100%;
	color: rgb(0,221,50);
	margin: 15px 15px;

}

.title_block .btn1:hover{
    border-color: rgb(255, 102, 0);
    color: rgb(255,102,0);
 	cursor: pointer;
}


/* -------------------------------------------- decisions -----------------------------------------------------*/

.decisions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.decisions .section_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.decisions .title{
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 200%;


}

.decisions .sub_title{
    text-align: center;
    font-size: 16px;
    line-height: 150%;
}

.decisions .arr1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: space-between;


}

.decisions .col_3{
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    min-width: 290px;
    margin-top: 30px;

}


.decisions img {
    width: 100%;

}


.decisions .title1{
    text-align: center;
    font-size: 24px;
    min-height: 50px;
    line-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.decisions .sub_title1{
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    min-height: 65px;
}

.decisions .surround {
    background-color:#005f26;
    border-radius: 2em;
    width: 100%;
    max-width: 260px;
    min-height: 40px;
    line-height: 250%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border: solid 3px;

}


/* -------------------------------------------- advantages -----------------------------------------------------*/


.advantages {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.advantages .section_inner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


.advantages .title{
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    line-height: 200%;
}

.advantages .arr1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: space-between;

}


.advantages .col_2{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 48%;
    min-width: 290px;

}

.advantages .ico {
    flex: none;
    height: 128px;
    width: 128px;
    color:#24796b;
    border-radius: 50%;
    border-color:#24796b;
    border: 5px solid;
    line-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.advantages img{
    width: 80px;
    height 80px;
}

.advantages .ico_txt {
    padding: 10px;
    font-size: 16px;
}


/* -------------------------------------------- price -----------------------------------------------------*/

.price {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.price .section_inner {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price .surround {

    min-width: 45%;
    background-color:#005f26;
    border-radius: 2em;
    border: solid 3px;
    font-size: 16px;
    line-height: 300%;
    text-align: center;
    color: #fff;
  }

/* -------------------------------------------- ingeneers -----------------------------------------------------*/
.ingeneers {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.ingeneers .section_inner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ingeneers .title{
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    line-height: 200%;

}

.ingeneers .sub_title{
    text-align: center;
    font-size: 20px;
    line-height: 200%;
}


  .ingeneers .arr1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: space-between;

}

.ingeneers .col_3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    min-width: 290px;
    min-height: 200px;
    box-shadow: 0 0 3px -1px #555;
    margin: 5px;

}

.ingeneers .image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color:#005f26;
}

.ingeneers img {
    width: 100%;
    height: 100%;
}


/* -------------------------------------------- project -----------------------------------------------------*/


.project {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.project .section_inner {
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#f2f2f2;
    border: solid 5px;
    border-color: #24796b;
    min-height: 230px;
}


.project .title{
    text-align: center;
    font-size: 22px;
 }

 .project .form_project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.project input {
    display: block;
    border: none;

    padding: 0 5px;
    font-size: 16px;
    line-height: 300%;

    background: transparent;
    color: #313131;

    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
}

.project .form_text{

}

.project .surround{
    background-color:#005f26;
    border-radius: 2em;
    height: 50px;
    font-size: 16px;
    outline: none;
    min-width: 250px;
    color: #ffffff;

}


/* -------------------------------------------- feedback -----------------------------------------------------*/


.feedback {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;

}

.feedback .section_inner {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

.feedback .title{
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    line-height: 200%;

 }



.feedback .arr1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: space-between;

}

.feedback .col_3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 32%;
    min-width: 290px;
    box-shadow: 0 0 3px -1px #555;
    margin: 5px;

}

.feedback .col_3 .title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: normal;
}


.feedback img {
    width: 100%;
}



/* -------------------------------------------- footer -----------------------------------------------------*/

footer {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
}


footer .section_inner{
    margin-top: 30px;
    display: flex;
    width: 120vmin;
    justify-content: space-between;
    align-items:center;

}

footer .logo_img{
	text-align: right;
	flex: 1;
}

footer .logo_img img{
    width: 80%;
}

footer .text1{
	text-align: center;
	line-height: 200%;
	flex: 2;
}

footer .phone-and-address{
	  text-align: right;
	flex: 1;
}

footer .phone1 {
    font-size: 24px;
}

footer  a.phone1 {
	color: inherit;
	text-decoration: none;
}

footer .address1 {
    line-height: 150%;
}


/* -----------------------hover--------------------*/

* .surround:hover {
    background: #ff6600;
  	cursor: pointer;
  	transform: translateY(2px);

}