<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Universe development team</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/vision.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/"> Universe development team</a></h1>
    </div>
    <div>
        <p> Hello, Universe!</p>
    </div>
    <div>
        <p> BASE_DIR {{ BASE_DIR }} </p>
        <p> STATICFILES_DIRS {{ STATICFILES_DIRS }} </p>
    </div>
    <div class="page-footer">
        <p> copyright 2019 ООО Юниверс +79039422244</p>
    </div>

</body>
</html>