<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru-ru">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Монтаж систем видеонаблюдения в Кемеровской области. Автоматический поиск и подсчет событий. Анализ видеопотока. Компьютерное видение.">
    <meta name="keywords" content=""> <!-- список ключевых слов -->
	<meta name="robots" content="all">
	<!-- <meta name="author" lang="ru" content="Mаксим Подгорных" />
	<meta name="copyright" lang="ru" content="Universe ltd 2019" /> -->

	<link rel="stylesheet" href="{% static '/css/linia42.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

	<title>
		Монтаж систем видеонаблюдения
	</title>

</head>
	<body>
		<!-- header -->
		<header>
			<div class="section_inner">
				<a href="https://devline.ru/" class="logo_img">
					<img src="{% static 'img/devline.jpg' %}" alt="">
				</a>

				<div class="text1">
					ООО "Юниверс" <br> сертифицированный партнер <br> компании "ДевЛайн" по Кемеровской области
				</div>

				<div class="phone-and-address">
					<a href="tel:+7 (3843) 91-05-61" class="phone1">
						+7 (3843) 91-05-61
					</a>

				<!--	<div class="address1">
						г. Новокузнецк, пр. Ангренский, 3\2, 204
					</div>
				-->
				</div>
			</div>
		</header>

			<!-- Title -->
		<div class="title_block">
			<div class="dark"></div>
	 		<div class="section_inner">
				<div>
					<div class="title">МОНТАЖ СИСТЕМ</div>
					<div class="title">ВИДЕО<wbr>НАБЛЮ<wbr>ДЕНИЯ</div>
				</div>
				<div class="sub_title"> Наше видеонаблюдение умеет запоминать, считать и анализировать!</div>
				<div class="arr1">
					<div class="btn1">Оставить заявку</div>
					<div class="btn1">Личный кабиент</div>
				</div>

			</div>
		</div>

		<!-- Decisions -->
		<div class="decisions">
			<div class="section_inner">
				<div class="title">Популярные решения на базе видеонаблюдения "Линия"</div>
				<div class="sub_title">Закажи решение через сайт и получи 10% скидку на проект</div>

				<div class="arr1">
					<div class="col_3">
						<div class="image"><img src="{% static 'img/15be51ab99d8f09581ad27a416732263.jpg' %}" alt=""></div>
						<div class="title1">Охрана объекта</div>
						<div class="sub_title1">уведомление о тревоге на телефон</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"></div>
					</div>
					<div class="col_3">
						<div class="image"><img src="{% static 'img/4096900f5c1d13324b0b750bdd1de2ab.jpg' %}" alt=""></div>
						<div class="title1">Трансляция&nbsp;на сайт</div>
						<div class="sub_title1">безопасный&nbsp;вывод картинки на ваш сайт</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"> </div>
					</div>
					<div class="col_3 last">
						<div class="image"><img src="{% static 'img/e45d097437e72b093d70e4ed7a28e5da.jpg' %}" alt=""></div>
						<div class="title1">Мониторинг погоды</div>
						<div class="sub_title1">вывод метеоданных&nbsp;на картинку камеры</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"> </div>
					</div>
					<div class="col_3">
						<div class="image"><img src="{% static 'img/25d6c6f89a7b2a76d744b81464b1ceeb.jpg' %}" alt=""></div>
						<div class="title1">Подсчет покупателей</div>
						<div class="sub_title1">счетчик покупателей на основе анализа видеоданных</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"></div>
					</div>
					<div class="col_3">
						<div class="image"><img src="{% static 'img/c07b7b39d39d8c23816ff53087637f5a.jpg' %}" alt=""></div>
						<div class="title1">Подсчет проходящего трафика</div>
						<div class="sub_title1">Подсчет людей, проходящих мимо входа в магазин&nbsp;на основе анализа видеоданных</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"></div>
					</div>
					<div class="col_3">
						<div class="image"><img src="{% static 'img/bdcadf835d452a45b4c260c8619b4331.jpg' %}" alt=""></div>
						<div class="title1">Статистика поста автомойки</div>
						<div class="sub_title1">подсчет количества​​​​​​​ клиентов поста автомойки&nbsp;на основе анализа видеоданных</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"></div>
					</div>
					<div class="col_3">
						<div class="image"><img src="{% static 'img/1c24d0e7e678dec31b5e898b5540f052.jpg' %}" alt=""></div>
						<div class="title1">Статистика рабочего времени</div>
						<div class="sub_title1">счетчик времени проведенного на рабочем месте&nbsp;на основе анализа видеоданных</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"></div>
					</div>
					<div class="col_3">
						<div class="image"><img src="{% static 'img/0512a5e9ef7ab4f8b2a570bcee350397.jpg' %}" alt=""></div>
						<div class="title1">Контроль очереди</div>
						<div class="sub_title1">Слежение за кассовой зоной на предмет наличия очереди покупателей</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"></div>
					</div>
					<div class="col_3 last">
						<div class="image"><img src="{% static 'img/6574a9500fd6263012c95daa41cf4049.jpg' %}" alt=""></div>
						<div class="title1">Мониторинг сети магазинов</div>
						<div class="sub_title1">Вывод картинки на большие телевизоры&nbsp;&nbsp;с камер наблюдения сети магазинов в головном офисе компании</div>
						<div class="surround" >Заказать</div>
						<div class="popup_form"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Advantages -->
		<div class="advantages">
			<div class="section_inner     ">
				<div class="title">Преимущества системы видеонаблюдения Линия</div>
				<div class="arr1">
					<div class="col_2">
						<div class="ico">
							<img src="{% static 'img/ico1.jpg' %}" alt="">
						</div>
						<p class="ico_txt">Гибридные видеорегистраторы работают с разными типами камер одновременно</p>
					</div>
					<div class="col_2">
						<div class="ico" >
							<img src="{% static 'img/ico2.jpg' %}" alt="">
						</div>
						<p class="ico_txt">Бесплатное, удобное и надежное приложение «Наблюдательный пост» для компьютеров и мобильных устройств</p>
					</div>
					<div class="col_2">
						<div class="ico">
							<img src="{% static 'img/ico3.jpg' %}" alt="">
						</div>
						<p class="ico_txt">Возможность одновременного наблюдения за камерами разных объектов и серверов</p>
					</div>

					<div class="col_2">
						<div class="ico" >
							<img src="{% static 'img/ico4.jpg' %}" alt="">
						</div>
						<p class="ico_txt">Возможность наблюдения за удаленными от цивилизации объектами</p>
					</div>
					<div class="col_2">
						<div class="ico" >
							<img src="{% static 'img/ico5.jpg' %}" alt="">
						</div>
						<p class="ico_txt">Высокая надежность и неприхотливость к условиям эксплуатации. 3 года гарантии на видеорегистраторы от компании «ДевЛайн»</p>
					</div>

					<div class="col_2 last">
						<div class="ico">
							<img  src="{% static 'img/ico6.jpg' %}" alt="">
						</div>
						<p class="ico_txt">Интеграция с другими системами:<br>1С, Кассы, СКУД, СОИ</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Price -->
		<div class="price">
			<div class="section_inner">
				<a href="https://devline.ru/price/" class="surround" target="_blank">Прайс-лист СВН "Линия"</a>
				<a href="https://devline.ru/p/buy/?pn=218" class="surround" target="_blank" >Купить On-Line</a>
			</div>
		</div>

		<!-- Ingeneers -->
		<div class="ingeneers" >
			<div class="section_inner">
				<div class="title">Наши инженеры обеспечивают профессиональный монтаж под ключ</div>
				<div class="sub_title">138 объектов в Кемеровской области используют  нашу&nbsp;систему виденаблюдения "Линия"</div>
				<div class="arr1">
					<div class="col_3">
						<div class="image"><img src="{% static 'img/2a1dfabd12d26046ea09ac98caceb348.jpg' %}" alt=""></div>
						<div class="title1">МЯСНИКОВ МАКСИМ</div>
						<div class="txt1"> Ведущий инженер&nbsp;<br>высшей категории</div>
					</div>

					<div class="col_3">
						<div class="image"><img src="{% static 'img/d003df230803aaf65bf2cb1354ee25a6.jpg' %}" alt=""></div>
						<div class="title1">ВИТАЛИЙ ШУРКОВ</div>
						<div class="txt1"> Ведущий инженер&nbsp;<br>высшей категории</div>
					</div>

					<div class="col_3">
						<div class="image"><img src="{% static 'img/234b04b4cb85284fdceb3746e10826ff.jpg' %}" alt=""></div>
						<div class="title1">ВЯЧЕСЛАВ КАЛИНИН</div>
						<div class="txt1"> Ведущий инженер&nbsp;<br>высшей категории</div>
					</div>
				</div>
			</div>
		</div>

		<!-- PersProject -->
		<div class="project" >
			<div class="section_inner ">
				<p class="title"><strong>Индивидуальный проект под ваши цели</strong></p></p>
				<form class="form_project" action="" enctype="multipart/form-data" method="post">
					<input type="text" required="required" name="Введите имя" placeholder="Введите имя">
					<input type="email" required="required" name="Введите E-mail" placeholder="Введите E-mail">
					<input type="text" required="required" pattern="[+)( .-]*[0-9]+[0-9+)( .-]*" minlength="6" name="Введите номер телефона" placeholder="Введите номер телефона">
					<input type="submit" class="surround" data-action="thanks" data-metrica_event="undefined" data-fb_pixel="undefined" data-vk_pixel="undefined" data-url="" data-amount="0" data-product_name="undefined" value="Заказать" >
				</form>
				<div class="form_text">Нажимая на кнопку, Вы принимаете <a target="_blank" href="http://linia42.ru/?personal_data=1">Положение</a> и <a target="_blank" href="http://linia42.ru/?personal_data=2">Согласие</a> на обработку персональных данных.</div>
			</div>
		</div>


		<!-- FeedBack -->
		<div class="feedback" >
			<div class="section_inner ">
				<div class="title">Отзывы клиентов</div>
				<div class="arr1">
					<div class="col_3">
						<div class="image"><img src="{% static 'img/32fb87efe9c7f0027ba181335b886b8b.png' %}" alt=""></div>
						<div class="title">Николай (г. Шерегеш)
							<div>директор сети горнолыжных кафе "Юрта"</div>
						</div>
						<div class="subtitle">
							Теперь я в любой момент вижу обстановку в моем кафе, его загруженность и работу сотрудников. По мнению посетителей, качество обслуживания после установки системы видеонаблюдения улучшилось.
						</div>
					</div>

					<div class="col_3">
						<div class="image"><img src="{% static 'img/582ad24eda07862e647d6ba2d49f67d8.png' %}" alt=""></div>
						<div class="title">Ольга (г. Новокузнецк)
							<div>директор сети магазинов одежды</div>
						</div>
						<div class="subtitle">
							Могу свободно отследить почасовую конверсию продаж в моих магазинах. Соотношение внешнего и внутреннего трафика посетителей позволило оптимизировать время работы магазинов и персонала
						</div>
					</div>
					<div class="col_3 last">
						<div class="image"><img src="{% static 'img/12baf2372fa64f93dbf0419dbb3ed449.png' %}" alt=""></div>
						<div class="title">Сергей (г. Санкт-Петербург)
							<div>директор промпредприятия в Кузбассе</div>
						</div>
						<div class="subtitle">
							Не смотря на то, что один из наших участков находится в глухой тайге, в 150 км от г. Таштагол, я могу видеть и контроллировать работу сотрудников в любое время, находясь в Санкт-Петербурге
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<footer >
			<div class="section_inner ">
			<!--	<a href="https://devline.ru/" class="link_editor_false logo_img"><img src="{% static 'img/devline.jpg' %}" alt=""></a> -->
				<div class="text1">ООО "Юниверс" сертифицированный партнер компании "ДевЛайн" по Кемеровской области</div>
				<div class="phone-and-address">
					<a href="tel:+7 (3843) 91-05-61" class="phone1 ">+7 (3843) 91-05-61</a>
					<div class="address1">г. Новокузнецк, пр. Ангренский, 3\2, 204</div>
				</div>
			</div>
		</footer>
	</body>
</html>


